body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  list-style: 1;
  color: #212121;
}

.contenedor {
  width: 1200px;
  background-color: #ffffff;
  margin: auto;
  padding: 20px;
  position: relative;
  padding-bottom: 3em;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}
.encabezado {
  width: 1200px;
  text-decoration: none;
  display: flex;
  padding: 10px;
}
.titulo {
  color: rgba(33, 150, 243, 1);
  font-family: 'raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
  text-align: right;
  letter-spacing: 0.03em;
}
.menu a:hover {
  color: rgba(33, 150, 243, 1);
}
.principal {
  color: rgba(33, 150, 243, 1);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  position: absolute;
  width: 49px;
  height: 16px;
  left: 345px;
  top: 32px;
}
.portafolio {
  color: rgba(33, 33, 33, 1);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  position: absolute;
  width: 65px;
  height: 16px;
  left: 445px;
  top: 32px;
}

.contactos {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  position: absolute;
  width: 59px;
  height: 16px;
  left: 565px;
  top: 32px;
}
.contactos a:hover {
  color: rgba(33, 150, 243, 1);
}
.correo {
  color: rgba(117, 117, 117, 1);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  position: absolute;
  width: 135px;
  height: 16px;
  left: 850px;
  top: 32px;
}
.correo:hover {
  color: #2196f3;
}
.telefono {
  color: rgba(117, 117, 117, 1);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  position: absolute;
  width: 118px;
  height: 16px;
  left: 1100px;
  top: 32px;
}
.seccion-principal {
  width: 1200px;
  height: 400px;
  top: 80px;
  left: -4px;
  background-color: #2f303a;
  display: flex;
}

.introduccion {
  width: 696px;
  height: 120px;
  color: rgb(241, 241, 245);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  padding: 35px;
  margin-top: 80px;
  margin-left: 250px;
  text-align: center;
}
.mi-boton {
  color: rgba(255, 255, 255, 1);
  background-color: #2196f3;
  width: 261px;
  height: 50px;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  border-bottom-left-radius: 0%;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px #2196f3;
}
.servicios-prestados {
  color: rgba(117, 117, 117, 1);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  display: flex;
  margin-right: 50px;
}
.servicios-ofertados {
  display: flex;
  padding: 20px;
}
h3 {
  color: #212121;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}

h2 {
  color: #212121;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  padding: 10px;
}
.equipo {
  width: 100%;
  flex-grow: 23%;
}

.img-container-work {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.computador {
  width: 373.16px;
  height: 323.7px;
  left: 215px;
  top: 1092.3px;
  left: 10px;
}
.celular {
  width: 373.16px;
  height: 323.7px;
  left: 618.42px;
  top: 1092.3px;
}
.tablet {
  width: 373.16px;
  height: 323.7px;
  left: 1015px;
  top: 1092px;
}

.img-container-team {
  background-color: rgba(245, 244, 250, 1);
  width: 1200px;
  height: 648px;
  left: 0px;
  top: 1510px;
}
.nuestro-equipo {
  padding: 20px;
  text-align: center;
  padding: 50px;
  align-items: center;
}
/*.equipo {*/
.team1 {
  padding: 10px;
  margin: 10px;
  float: left;
  width: 270px;
  height: 368px;
  left: 208px;
  top: 1696px;
  background: #ffffff;
  padding: 20px;
  border-radius: 0px 0px 4px 4px;
}
.team2 {
  padding: 10px;
  margin: 10px;
  float: left;
  width: 270px;
  height: 368px;
  left: 515px;
  top: 1696px;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  border: none;
}
.team3 {
  padding: 10px;
  margin: 10px;
  float: left;
  width: 270px;
  height: 368px;
  left: 822px;
  top: 1696px;
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  border: 10px #ffffff;
}
.team4 {
  padding: 10px;
  margin: 10px;
  float: left;
  width: 270px;
  height: 368px;
  left: 822px;
  top: 1696px;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

p {
  color: #757575;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 5px;
}
.ubicacion {
  color: #ffffff;
}

.profesion {
  color: #212121;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.profesion-team {
  text-align: center;
}
.nav_contacto {
  width: 1200px;
  background-color: #2f303a;
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  padding-top: 50px;
  padding-left: 100px;
}
.contact-correo {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.contact-correo:hover {
  color: #2196f3;
}
.contact-telefono {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.contact-telefono:hover {
  color: #2196f3;
}
.equipo {
  display: inline-block;
}
/*Estilos portafolio*/
.contenedor-portafolio {
  width: 1200px;
  height: 1000px;
}

.botones {
  display: flex;
  align-items: center;
  justify-content: center;
}
.boton1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.15;
  text-align: center;
  color: #ffffff;
  margin-right: 15px;
  width: 73px;
  height: 38px;
  left: calc(50% - 73px / 2 - 268.5px);
  top: calc(50% - 38px / 2 - 735px);
  background: #2196f3;
  border-radius: 4px;
  border: 1px #2196f3;
}
.boton1:hover {
  background: rgba(33, 150, 243, 1);
}
.boton2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-right: 15px;
  width: 128px;
  height: 38px;
  left: calc(50% - 128px / 2 - 160px);
  top: calc(50% - 38px / 2 - 735px);
  background: #f5f4fa;
  border-radius: 4px;
  border: 1px #f5f4fa;
}
.boton2:hover {
  background: rgba(33, 150, 243, 1);
}
.boton3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-right: 15px;
  width: 145px;
  height: 38px;
  left: calc(50% - 145px / 2 - 15.5px);
  top: calc(50% - 38px / 2 - 735px);
  background: #f5f4fa;
  border-radius: 4px;
  border: 1px #f5f4fa;
}
.boton3:hover {
  background: rgba(33, 150, 243, 1);
}
.boton4 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-right: 15px;
  width: 103px;
  height: 38px;
  left: calc(50% - 103px / 2 + 116.5px);
  top: calc(50% - 38px / 2 - 735px);
  background: #f5f4fa;
  border-radius: 4px;
  border: 1px #f5f4fa;
}
.boton4:hover {
  background: rgba(33, 150, 243, 1);
}
.boton5 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-right: 15px;
  width: 130px;
  height: 38px;
  left: calc(50% - 130px / 2 + 241px);
  top: calc(50% - 38px / 2 - 735px);
  background: #f5f4fa;
  border-radius: 4px;
  border: 1px #f5f4fa;
}
.boton5:hover {
  background: rgba(33, 150, 243, 1);
}
.img-container-portafolio {
  width: 1200px;
}

.img1 {
  padding: 10px;
  margin: 10px;
  float: left;
  box-sizing: border-box;
  margin-left: 75px;
  width: 300px;
  height: 300px;
  left: calc(50% - 370px / 2 + 400px);
  top: calc(50% - 404px / 2 + 404px);
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.img2 {
  padding: 10px;
  margin: 10px;
  float: left;
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  left: calc(50% - 370px / 2);
  top: calc(50% - 404px / 2 - 464px);
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.img3 {
  padding: 10px;
  margin: 10px;
  float: left;
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  left: calc(50% - 370px / 2 + 400px);
  top: calc(50% - 404px / 2 - 464px);
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.img4 {
  padding: 10px;
  margin: 10px;
  float: left;
  margin-left: 75px;
  width: 300px;
  height: 300px;
  left: calc(50% - 370px / 2 - 400px);
  top: calc(50% - 404px / 2 - 30px);
  background: #ffffff;
  border: 1px solid #eeeeee;
  padding: 20px;
}
.img5 {
  padding: 10px;
  margin: 10px;
  float: left;
  width: 300px;
  height: 300px;
  left: calc(50% - 370px / 2);
  top: calc(50% - 404px / 2 - 30px);
  background: #ffffff;
  border: 1px solid #eeeeee;
  padding: 20px;
}
.img6 {
  padding: 10px;
  margin: 10px;
  float: left;
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  left: calc(50% - 370px / 2 + 400px);
  top: calc(50% - 404px / 2 - 30px);
  background: #ffffff;
  border: 1px solid #eeeeee;
  padding: 20px;
}
.img7 {
  padding: 10px;
  margin: 10px;
  float: left;
  box-sizing: border-box;
  margin-left: 75px;
  width: 300px;
  height: 300px;
  left: calc(50% - 370px / 2 - 400px);
  top: calc(50% - 404px / 2 + 404px);
  background: #ffffff;
  border: 1px solid #eeeeee;
  padding: 20px;
}
.img8 {
  padding: 10px;
  margin: 10px;
  float: left;
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  left: calc(50% - 370px / 2);
  top: calc(50% - 404px / 2 + 404px);
  background: #ffffff;
  border: 1px solid #eeeeee;
  padding: 20px;
}

.img9 {
  padding: 10px;
  margin: 10px;
  float: left;
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  left: calc(50% - 370px / 2 + 400px);
  top: calc(50% - 404px / 2 + 404px);
  background: #ffffff;
  border: 1px solid #eeeeee;
  padding: 20px;
}
.container {
  width: 1200px;
  height: 252px;
  left: 0px;
  top: 1628px;
  background: #2f303a;
}
